.nubilus-result-blocked{
  display:none;
  color:blue;
  background-color:#faa;
}
.nubilus-result-unblocked{
  display:block;
  background-color:transparent;
  color:blue;
}
.nubilus-block-me{
  padding-left:10px;
  display:inline;
  color:blue;
  overflow:visible;
  color:blue;
}
.nubilus-block-me:hover{
  text-decoration:underline;
  color:blue;
}
a.nubilus-block-box{
  display:block;
  margin:1em;
  margin-bottom:20px;
  color:blue;
  overflow:visible;
}