
/*
Our Default.css page:
- Provides the classes we assign to elements on a Google result page
- Contains all styles used in extension

*/

/* search result is dimmed */
.jaydorsey-result-dimmed{
    display:block;
    background-color:#faa;
    opacity: 0.75;
}
/* search result is blocked */
.jaydorsey-result-blocked{
    /*display:none;*/
    color:blue;
    background-color:#faa;
}
/* simple formatting for hiding an element */
.jaydorsey-hide{
    display:none;
}
/* opposite of the hide class */
.jaydorsey-show{
    display:block;
}
/* search result is unblocked */
.jaydorsey-result-unblocked{
    display:block;
    background-color:transparent;
    color:blue;
    /*opacity: 1.00;*/
}
/*
[class*="fontawesome-"]:before {
      font-family: 'FontAwesome', sans-serif;
    }
*/
/* class handle for Block/Unblock message */
.jaydorsey-handle{
    margin-right:0;
    padding-left:0;
    margin-left:0;
    float:left;
    overflow: visible !important;
    background-color:transparent;
    text-decoration:none;
    color:transparent;
}

/* box with unblock message */
a.jaydorsey-block-box{
    display:block;
    margin:1em;
    margin-bottom:20px;
    color:blue;
    overflow:visible;
}
