/*
Our Default.css page:
- Provides the classes we assign to elements on a Google result page
- Contains all styles used in extension

*/

/* search result is dimmed */
.nubilus-result-dimmed{
    display:block;
    background-color:#faa;
    opacity: 0.75;
}
/* search result is blocked */
.nubilus-result-blocked{
    display:none;
    color:blue;
    background-color:#faa;
}
/* simple formatting for hiding an element */
.nubilus-hide{
    display:none;
}
/* opposite of the hide class */
.nubilus-show{
    display:block;
}
/* search result is unblocked */
.nubilus-result-unblocked{
    display:block;
    background-color:transparent;
    color:blue;
    /*opacity: 1.00;*/
}
/* class handle for Block/Unblock message */
.nubilus-block-me{
    padding-left:10px;
    display:inline;
    color:blue;
    overflow:visible;
    color:blue;
}
/* hover to make sure the link works like a link */
.nubilus-block-me:hover{
    text-decoration:underline;
    color:blue;
}
/* box with unblock message */
a.nubilus-block-box{
    display:block;
    margin:1em;
    margin-bottom:20px;
    color:blue;
    overflow:visible;
}